<h3 class="first">Customer Information</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Name">
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-home" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Address">
        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-mobile" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Phone Number">
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-envelope" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Email">
        </div>
    </div>
</div>

<h3>Appointment</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <p-calendar [showTime]="true" [showIcon]="true"></p-calendar>
    </div>
</div>